// .site-header {
// 	background-color: #80a4ed;
//   color: #395c6b;
//   border-top-color: #0d0c1d;
// }
img.avatar {
  float: right;
  width: 200px;
  border-radius: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
}
